<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @member.code %>
</p>

<p>
  <b>Name:</b>
  <%= @member.name %>
</p>

<p>
  <b>Address:</b>
  <%= @member.address %>
</p>

<p>
  <b>City:</b>
  <%= @member.city %>
</p>

<p>
  <b>Pincode:</b>
  <%= @member.pincode %>
</p>

<p>
  <b>Mobile:</b>
  <%= @member.mobile %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
